{% extends 'index.html' %}
{% load static %}

{% block title %}Create{% endblock title %}

{% block extraCSS %}

{% endblock extraCSS %}

{% block body %}
    <div class="container">
        <div class="row pt-3">
            <h1><b>Sube la información de una mascota!!!</b></h1>
            <hr class="border border-dark border-2 opacity-50">
            <div class="col-sm-6 text-center">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
            <div class="col-sm-6 align-self-end">
                <div class="pets">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'images\dogAndCat.png' %}" alt="Perro y gato">
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block extraJS %}
{% endblock extraJS %}