{% extends 'index.html' %}
{% load static %}

{% block title %}Añadir mascota{% endblock title %}

{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'pet/create_pet.css' %}">
{% endblock extraCSS %}

{% block body %}
<section class="ftco-section bg-light ftco-no-pt ftco-intro">
    <div class="container">
        <div class="row pt-3">
            <h1><b>Información de la mascota!!!</b></h1>
            <hr class="border border-dark border-2 opacity-50 w-100">
            <div class="col-sm-6 ">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li><b>{{ field.label }}</b>: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if images_form.errors %}
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            {% for field in images_form %}
                                {% for error in field.errors %}
                                    <li><b>{{ field.label }}</b>: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form enctype="multipart/form-data" method="post" id="create-pet">
                    {% csrf_token %}
                    {{ form.created_by }}
                    {{ form.modified_by }}
                    <div class="mb-3">
                        <label for="id_name" class="form-label"><b>{{ form.name.label }}</b></label>
                        {{ form.name }}
                        <div id="nameHelp" class="form-text">Ingresa el nombre de la mascota.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_breed" class="form-label"><b>{{ form.breed.label }}</b></label>
                        {{ form.breed }}
                        <div id="breedHelp" class="form-text">Ingresa la raza de la mascota si la sabes.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_age" class="form-label"><b>{{ form.age.label }}</b></label>
                        {{ form.age }}
                        <div id="ageHelp" class="form-text">Ingresa la edad de la mascota en años, si tiene menos de un año ingresa 1.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_sex" class="form-label"><b>{{ form.sex.label }}</b></label>
                        {{ form.sex }}
                        <div id="sexHelp" class="form-text">Ingresa el género de la mascota.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_size" class="form-label"><b>{{ form.size.label }}</b></label>
                        {{ form.size }}
                        <div id="sizeHelp" class="form-text">Selecciona el tamaño de la mascota.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_type_of_pet" class="form-label"><b>{{ form.type_of_pet.label }}</b></label>
                        {{ form.type_of_pet }}
                        <div id="type_of_petHelp" class="form-text">Selecciona el tipo de mascota.</div>
                    </div>
                    <div class="mb-3">
                        <label for="id_description" class="form-label"><b>{{ form.description.label }}</b></label>
                        {{ form.description }}
                        <div id="descriptionHelp" class="form-text">Agrega una breve descripción a cerca de la mascota.</div>
                    </div>
                    <div class="mb-3">
                        <div class="upload__box">
                            <div class="upload__btn-box">
                                <label for="id_images" class="upload__btn">
                                    {{ images_form.images.label }}
                                    {{ images_form.images }}
                                </label>
                                <div id="imagesHelp" class="form-text">Sube hasta 5 imagenes con formato .png, .jpg y .jpeg con un peso menor a 2Mb</div>
                            </div>
                            <div class="upload__img-wrap"></div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block" type="submit" id="id-btn-submit">Crear</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 align-self-end">
                <div class="pets">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'images/RW-cachorro.png' %}" alt="Perro y gato">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block extraJS %}
    <script src="{% static 'pet/create_pet.js' %}"></script>
{% endblock extraJS %}