{% extends 'index.html' %}
{% load static %}

{% block title %}Signup{% endblock title %}

{% block extraCSS %}
<link rel="stylesheet" href="{% static 'user/signup.css' %}">
{% endblock extraCSS %}

{% block body %}
<div class="container">
    <div class="row pt-3">
        <h1 class="font-weight-bold"><b>Crea tu cuenta !!!</b></h1>
        <hr class="border border-dark border-2 opacity-50 w-100">
        <div class="col-sm-6 text-center">
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul class="mb-0">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username" class="font-weight-bold">{{ form.username.label }}</label>
                    {{ form.username }}
                    <small id="usernameHelp" class="form-text text-muted">Ingresa un nombre de usuario.</small>
                </div>
                <div class="form-group">
                    <label for="id_email" class="font-weight-bold">{{ form.email.label }}</label>
                    {{ form.email }}
                    <small id="emailHelp" class="form-text text-muted">Ingresa un correo electrónico.</small>
                </div>
                <div class="form-group" id="show_hide_password1">
                    <label for="id_password1" class="font-weight-bold">{{ form.password1.label }}</label>
                    <div class="input-group">
                        {{ form.password1 }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="toggle_password1">
                                <i class="fa fa-solid fa-eye-slash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <small id="password1Help" class="form-text text-muted">Ingresa una contraseña segura.</small>
                </div>
                <div class="form-group" id="show_hide_password2">
                    <label for="id_password2" class="font-weight-bold">{{ form.password2.label }}</label>
                    <div class="input-group">
                        {{ form.password2 }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="toggle_password2">
                                <i class="fa fa-solid fa-eye-slash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <small id="password2Help" class="form-text text-muted">Repite la contraseña.</small>
                </div>
                <div class="form-group">
                    <label for="id_type_user" class="font-weight-bold">{{ form.type_user.label }}</label>
                    {{ form.type_user }}
                    <small id="type_userHelp" class="form-text text-muted">Selecciona el tipo de usuario.</small>
                </div>
                <div class="form-group image-preview-container">
                    <div class="preview">
                        <img id="preview-selected-image" class="img-fluid">
                    </div>
                    <label for="id_profile_picture" class="font-weight-bold">{{ form.profile_picture.label }}</label>
                    {{ form.profile_picture }}
                    <small id="profile_pictureHelp" class="form-text text-muted">Sube tu mejor selfie.</small>
                </div>
                <div class="d-grid gap-2 pt-3 pb-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Crear</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 align-self-end">
            <div class="pets">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'images\dogAndCat.png' %}"
                    alt="Perro y gato">
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block extraJS %}
<script src="{% static 'user/signup.js' %}"></script>
{% endblock extraJS %}